.box{
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;

    display: flex;
    justify-content: center; 
    align-items: center;
    /* margin: auto; */

    transition: all 3s 1s;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.box:hover{
    /* transform: rotate(45deg)  */
    /* transform: scale(2); */
    /* transform: skew(45deg); */
    /* transform: translate(100px,100px) ; */
    transform: matrix(1, -0.3, 0, 1, 0, 50);
}
p{
    font-size: 36x;
}